.example-container {
    height: 400px;
    overflow: auto;
    margin: 10px;
  }
  
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  