.example-container {
    height: 400px;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
.container{
  width: auto;
}
mat-form-field.mat-form-field{
    margin-left: 10px;
}
  
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  