<h1 mat-dialog-title>Hospital updated successfully</h1>
<h2 mat-dialog-title>Hospital:</h2>
<div mat-dialog-content>
    <strong>id:</strong>{{data.id}}
    <strong>name:</strong>{{data.name}}
    <strong>address:</strong>{{data.address}}
    <strong>number_of_beds:</strong>{{data.number_of_beds}}
    <strong>occupation:</strong>{{data.occupation}}
    <strong>lat:</strong>{{data.location.lat}}
    <strong>lng:</strong>{{data.location.lng}}
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>